@use 'base';

/*menyknapp för att öppna menyn*/

#open-menu {
    margin-left: auto;
}

.menu-btn {
    display: flex;
    align-items: center;
    padding: 8px 15px;
    border: solid black 2px;
    cursor: pointer;
    margin-right: 5%;
}

.menu-btn .menu-text {
    display: inline-block;
    @include base.h2-styles;
}

.menu-btn:hover {
    box-shadow: 0 0px 5px black;
}

.menu-icon {
    margin-right: 10Px;
}

.bars {
    display: block;
    width: 20px;
    height: 3px;
    background-color: black;
    margin: 5px 0;
}

/*menyknapp för stäng*/
.close {
    padding: 10px 15px;
}

/*roterar två streck till ett kryss*/
.cross1 {
    width: 25px;
    transform: rotate(45deg);
    position: relative;
    top: 5px;
}

.cross2 {
    width: 25px;
    transform: rotate(135deg);
    position: relative;
    top: -3px;
}

// MAIN STYLES

main {
    @include base.center-element;
}

form {
    @include base.center-element;
}

#search-input {
    width: 100%;
    margin: 2em 0  ;
    padding: 0%;
    border: 5px solid black;
    @include base.h2-styles;
}

#search-form {
    width: 50%;
    margin: 0 0 1em 0;
}

#mapSubmit {
    @include base.h2-styles;
    border: 5px solid black;
    padding: 0em 2em;
    background-color: white;
    border-radius: 2%;
    margin-bottom: 1em;
    margin-top: 1em;
}

#mapSubmit:hover {
    cursor: pointer;
    font-weight: 800;
}

#deleteBtn {
    @include base.h2-styles;
    border: 5px solid black;
    padding: 0em 2em;
    background-color: white;
    border-radius: 2%;
    margin-bottom: 1em;
}

#deleteBtn:hover {
    font-weight: 800;
    cursor: pointer;
}

// Ladding

.loader {
  
    display: none;
    position: relative;
    width: 75px;
    height: 100px;
    margin-bottom: 2em;
    
    &__bar {
      position: absolute;
      bottom: 0;
      width: 10px;
      height: 50%;
      background: base.$bar-color;
      transform-origin: center bottom;
      box-shadow: 1px 1px 0 rgba(0,0,0,.2);
      
      @for $i from 1 through 5 { 
         &:nth-child(#{$i}) {
           left: ($i - 1) * 15px;
           transform: scale(1,$i*.2);
           animation: barUp#{$i} 4s infinite;
          }
      }
      
    }
    
    &__ball {
      position: absolute;
      bottom: 10px;
      left: 0;
      width: 10px;
      height: 10px;
      background: base.$ball-color;
      border-radius: 50%;
      animation: ball 4s infinite;
    }
  }